<!-- ================================================== -->
<!--  Date editor template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">

      <!-- Header text. -->
      <div class="w3-display-left w3-container">Amount</div>

      <!-- Go to budget page button. -->
      <div class="calc-type-button w3-display-right w3-theme-l2">
        <div v-if="simple" @click="toggleCalc()"><i class="fas fa-calculator"></i> Simple</div>
        <div v-if="!simple" @click="toggleCalc()"><i class="fas fa-calculator"></i> Advanced</div>
      </div>

    </div>

    <div style="position: absolute; top: 40px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <div class="inflow-outflow-wrapper">
        <div @click="setInflow" :class="[inflow === true ? 'w3-green': 'w3-grey w3-text-grey']" class="button w3-card">Inflow</div>
        <div @click="setOutflow" :class="[inflow === false ? 'w3-red': 'w3-grey w3-text-grey']" class="button w3-card">Outflow</div>
      </div>

      <!-- Simple amount calculator. -->
      <fm-calculator-simple
        ref="calculatorSimple"
        v-show="simple"
        v-on:save="save"
        v-on:cancel="cancel">
      </fm-calculator-simple>

      <!-- Advanced calculator. -->
      <fm-calculator-advanced
        ref="calculatorAdvanced"
        v-show="!simple"
        :transactionCalc="true"
        v-on:setInflow="setInflow"
        v-on:setOutflow="setOutflow"
        v-on:save="save"
        v-on:cancel="cancel">
      </fm-calculator-advanced>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Date editor script. -->
<!-- ================================================== -->

<script>
  import CalculatorAdvanced from '../common/calculator-advanced';
  import CalculatorSimple from '../common/calculator-simple';

  export default {
    name: 'fm-amount-editor',
    components: {
      'fm-calculator-advanced': CalculatorAdvanced,
      'fm-calculator-simple': CalculatorSimple
    },
    props: [
      'originalAmount'
    ],
    data () {
      return {
        simple: true,
        inflow: false,
        amount: 0
      };
    },
    methods: {
      goBack () {
        this.cancel();
      },
      toggleCalc () {
        if (this.simple) {
          this.$refs.calculatorAdvanced.setAmount(this.$refs.calculatorSimple.amount / Math.pow(10, this.$.digits));
        } else {
          this.$refs.calculatorAdvanced.buttonEqual();
          this.$refs.calculatorSimple.setAmount(this.$refs.calculatorAdvanced.amount * Math.pow(10, this.$.digits));
        }
        this.simple = !this.simple;
      },
      setInflow () {
        this.inflow = true;
      },
      setOutflow () {
        this.inflow = false;
      },
      save (saveAmount) {
        if (this.inflow) {
          this.$emit('save', saveAmount);
        } else {
          this.$emit('save', -saveAmount);
        }
      },
      cancel () {
        this.$emit('cancel');
      }
    },
    mounted () {
      if (this.originalAmount > 0) {
        this.inflow = true;
      } else {
        this.inflow = false;
      }

      this.simple = localStorage.getItem('calculatorDefault') === 'Simple';
      this.amount = this.originalAmount;

      if (this.simple) {
        this.$refs.calculatorSimple.setAmount(this.amount);
      } else {
        this.$refs.calculatorAdvanced.setAmount(this.amount / Math.pow(10, this.$.digits));
      }
    }
  };
</script>

<!-- ================================================== -->
<!--  Date editor CSS. -->
<!-- ================================================== -->

<style>
  .calc-type-button {
    height: 40px;
    width: 150px;
    vertical-align: center;
    text-align: center;
    line-height: 40px;
    padding: 0px 16px;
  }

  .amount-wrapper {
    text-align: center;
  }

  .inflow-outflow-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin: 10px;
  }
</style>