<!-- ================================================== -->
<!--  About template. -->
<!-- ================================================== -->

<template>
  <div>

    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px;">
      <div class="w3-display-left w3-container">About</div>
    </div>

    <!-- Application name. -->
    <div class="w3-container">
      <h2>Financier Mobile</h2>
    </div>

    <!-- Version. -->
    <div class="w3-container">
      Version: {{version}}
    </div>

    <!-- Release date. -->
    <div class="w3-container">
      Released: {{release}}
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  About script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-about',
    data () {
      return {
        version: '',
        release: ''
      };
    },
    mounted: function () {
      /* eslint-disable */
      this.version = VERSION.number
      this.release = VERSION.date
      /* eslint-enable */
    }
  };
</script>

<!-- ================================================== -->
<!--  About CSS. -->
<!-- ================================================== -->

<style scoped>

</style>
