<!-- ================================================== -->
<!--  Calculator template. -->
<!-- ================================================== -->

<template>
  <div>

    <div class="calc-grid w3-small">

      <div class="calc-display w3-card w3-white">
        <div class="calc-input w3-medium">{{calcInput}}</div>
      </div>

      <div @click="buttonClear()" class="calc-button w3-card w3-theme-l3">Clear</div>
      <div @click="buttonLeftParen()" class="calc-button w3-card w3-theme-l3">(</div>
      <div @click="buttonRightParen()" class="calc-button w3-card w3-theme-l3">)</div>
      <div @click="buttonDivide()" class="calc-button w3-card w3-theme-l3">/</div>

      <div @click="buttonNumber(7)" class="calc-button w3-card w3-theme-l3">7</div>
      <div @click="buttonNumber(8)" class="calc-button w3-card w3-theme-l3">8</div>
      <div @click="buttonNumber(9)" class="calc-button w3-card w3-theme-l3">9</div>
      <div @click="buttonMultiply()" class="calc-button w3-card w3-theme-l3">*</div>

      <div @click="buttonNumber(4)" class="calc-button w3-card w3-theme-l3">4</div>
      <div @click="buttonNumber(5)" class="calc-button w3-card w3-theme-l3">5</div>
      <div @click="buttonNumber(6)" class="calc-button w3-card w3-theme-l3">6</div>
      <div @click="buttonSubtract()" class="calc-button w3-card w3-theme-l3">-</div>

      <div @click="buttonNumber(1)" class="calc-button w3-card w3-theme-l3">1</div>
      <div @click="buttonNumber(2)" class="calc-button w3-card w3-theme-l3">2</div>
      <div @click="buttonNumber(3)" class="calc-button w3-card w3-theme-l3">3</div>
      <div @click="buttonAdd()" class="calc-button w3-card w3-theme-l3">+</div>

      <div @click="buttonBackspace()" class="calc-button w3-card w3-theme-l3"><i class="fas fa-backspace"></i></div>
      <div @click="buttonNumber(0)" class="calc-button w3-card w3-theme-l3">0</div>
      <div @click="buttonPeriod()" class="calc-button w3-card w3-theme-l3">.</div>
      <div @click="buttonEqual()" class="calc-button w3-card w3-theme-l3">=</div>

    </div>

    <div class="save-cancel-grid">
      <div @click="save()" class="save-cancel-button w3-card" :class="[readyToSave ? 'w3-theme' : 'w3-theme-l2']">
        <div :class="[!readyToSave ? 'w3-text-dark-gray' : '']">Save</div>
      </div>
      <div @click="cancel()" class="save-cancel-button w3-card w3-theme">Cancel</div>
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Calculator script. -->
<!-- ================================================== -->

<script>
  import math from 'mathjs';

  export default {
    name: 'fm-calculator-advanced',
    data () {
      return {
        calcInput: '',
        amount: 0,
        transactionCalc: false
      };
    },
    computed: {
      readyToSave () {
        try {
          const evaluated = math.eval(this.calcInput);
          return !isNaN(evaluated) && isFinite(evaluated);
        } catch (e) {
          return false;
        }
      }
    },
    methods: {
      setAmount (value) {
        this.amount = Math.abs(value);
        this.calcInput = this.amount.toFixed(this.$.digits);
      },
      buttonNumber (value) {
        if (this.calcInput === '0' || this.calcInput === '0.00') {
          this.calcInput = value.toString();
        } else {
          this.calcInput += value.toString();
        }
      },
      buttonPeriod () {
        this.calcInput += '.';
      },
      buttonLeftParen () {
        if (this.calcInput === '0' || this.calcInput === '0.00') {
          this.calcInput = '(';
        } else {
          this.calcInput += '(';
        }
      },
      buttonRightParen () {
        if (this.calcInput === '0' || this.calcInput === '0.00') {
          this.calcInput = ')';
        } else {
          this.calcInput += ')';
        }
      },
      buttonAdd () {
        this.calcInput += '+';
      },
      buttonSubtract () {
        if (this.calcInput === '0' || this.calcInput === '0.00') {
          this.calcInput = '-';
        } else {
          this.calcInput += '-';
        }
      },
      buttonMultiply () {
        this.calcInput += '*';
      },
      buttonDivide () {
        this.calcInput += '/';
      },
      buttonEqual () {
        try {
          let evaluated = math.eval(this.calcInput);

          if (isNaN(evaluated) || !isFinite(evaluated)) {
            evaluated = 0;
          }

          if (this.transactionCalc && (evaluated < 0)) {
            evaluated = -evaluated;
            if (this.$parent.inflow) {
              this.$emit('setOutflow');
            } else {
              this.$emit('setInflow');
            }
          }

          this.calcInput = evaluated.toFixed(this.$.digits);
          this.amount = Number(evaluated);
        } catch (e) {
          this.calcInput = this.amount.toFixed(this.$.digits);
        }
      },
      buttonClear () {
        this.calcInput = '0';
        this.amount = 0;
      },
      buttonBackspace () {
        this.calcInput = this.calcInput.slice(0, -1);
        if (this.calcInput === '') {
          this.calcInput = '0';
          this.amount = 0;
        }
      },
      setStartNegative () {
        this.startPositive = false;
      },
      save () {
        if (!this.readyToSave) {
          return;
        }
        try {
          let evaluated = math.eval(this.calcInput);

          if (this.transactionCalc && (evaluated < 0)) {
            evaluated = -evaluated;
            if (this.$parent.inflow) {
              this.$emit('setOutflow');
            } else {
              this.$emit('setInflow');
            }
          }

          this.calcInput = evaluated.toFixed(this.$.digits);
          this.amount = Math.round(Number(evaluated) * Math.pow(10, this.$.digits));
        } catch (e) {
          this.calcInput = this.amount.toFixed(this.$.digits);
        }
        this.$emit('save', this.amount);
      },
      cancel () {
        this.$emit('cancel');
      }
    },
    mounted () {
      let initial = this.initialValue;

      if (this.$parent.inflow !== null && this.$parent.inflow !== undefined) {
        this.transactionCalc = true;
        initial = Math.abs(initial);
      }

      this.calcInput = (initial / Math.pow(10, this.$.digits)).toFixed(this.$.digits);
      this.amount = initial / Math.pow(10, this.$.digits);
    }
  };
</script>

<!-- ================================================== -->
<!--  Calculator CSS. -->
<!-- ================================================== -->

<style scoped>

  .calc-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
    grid-gap: 8px;
    width: 100%;
    padding: 0px 10px 10px 10px;
  }

  .calc-display {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .calc-input {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    font-weight: bold;
  }

  .calc-button {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }

  .save-cancel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 8px;
    width: 100%;
    padding: 0px 10px 10px 10px;
  }

  .save-cancel-button {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }
</style>
